a {
    text-decoration: none;
    font-size: 15px;
}
.row {
  /* display: flex; */
  margin-top: 10px;
  /* flex-wrap: wrap; */
}
.invoice-table__button {
  font-size: 15px;
  border: none;
  color: #0066b2;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.2;
  display: inline-flex;
  align-items: center;
}
.invoice-table__button.blue {
  background: #0066b2;
}
.mat-icon {
  height: 18px;
  width: 18px;
}
