mat-cell, mat-footer-cell, mat-header-cell {
    height: 25px;
    font-size: 12px;
    padding-left: 12px;
  }

  mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 12px;
  }

  mat-header-row {
    min-height: 30px;
    background-color: #e6e7e8;
    border-bottom-color: #878888;
  }

  mat-row {
    min-height: 25px;
    border: none;
    cursor: pointer;
  }

  mat-header-cell {
    color: black;
    font-weight: bold;
  }

  .invoice-table {
    text-align: center;
    margin: 0 auto;
  }

  .mat-toolbar-single-row {
    height: 40px;
    border-radius: 5px 5px 0 0;
    background-color: #0b2d71;
    color: white;
  }

  .mat-toolbar-no-bgc {
    background: none;
    color: black;
    margin: 30px 0;
    padding: 30px 10px;
  }

  .mat-column-border-right {
    border-right: 1px solid #878888;
  }

  .mat-column-border-left {
    border-left: 1px solid #878888;
  }

  .mat-column-align-stretch {
    align-self: stretch;
  }

  .mat-toolbar-row {
    font-size: 16px;
    font-weight: bold;
  }

  .mat-stroked-button {
    border-radius: 5px;
    background-color: #d72034;
    margin: 0 0 0 20px;
  }

  .form-field {
    width: 300px;
    font-size: 13px;
    margin: 0 20px;
  }

  #mat-option-0, #mat-option-1 {
    height: 2em;
  }

  .line-height-1-5em {
    line-height: 1.5em;
  }

  .mat-column-recovered {
    flex: 0 0 6.5%;
  }

  .mat-column-start_date, .mat-column-end_date {
    flex: 0 0 10%;
  }

  .mat-column-discount, .mat-column-unit_price_llf, .mat-column-invoice_net_amount_usd {
    flex: 0 0 7%;
  }

  .mat-column-part_number, .mat-column-quantity_llf, .mat-column-duration {
    flex: 0 0 5%;
  }

  .mat-column-description {
    text-align: left;
    white-space: nowrap;
  }

  mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 8px;
  }

  .container {
    max-height: 350px;
    overflow: auto;
    border-bottom: 1px solid #878888;
  }

  .container-full {
    max-height: 100%;
    height: 90vh;
  }

   .mat-card {
    padding: 15px;
  }
  :host {
    min-height: 100px;
    max-height: 240px;
    flex: 1 1 100%;
    box-sizing: border-box;
    overflow: auto;
    margin: 10px 0;
  }
  .invoice-table__button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
    line-height: 1.2;
    border-radius: 7px;
    margin: auto 10px;
  }
  .invoice-table__button.blue {
    background: #0b2d71;
  }
  .ariba-id_divider {
    padding-right: 5px;
  }
