.spinner {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: relative;
    margin: auto;
}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}