/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* .min-width-1214 {
    min-width: 1214px;
} */

.spacer {
    flex: 1 1 auto;
}

/*
to not display checkbox inside select for button
*/
.filter-option > .mat-pseudo-checkbox {
    display: none !important;
  }
 
  
.filter-sidenav .mat-list-item-content {
    padding: 0 10px !important;
    font-size: 0.875rem !important;
  }
  
  .filter-sidenav .mat-select-trigger {
    font-size: 1rem !important;
  }
 


.toolbar-white-space-normal {
    white-space: normal;
    text-align: left;
    font-size: 14px;
    line-height: 1.5em;
    display: inline-block;
    max-width: 1100px;
}

.fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.input {
    border: none;
    /* border: 1.2px solid #48b1e5; */
    border: 1.2px solid #0b2d71;
    border-radius: 12px;
    color: #878888;
    height: 25px;
    width: 250px;
    padding: 0 8px;
}

.input:focus {
    outline: none;
    /* box-shadow: 0 0 5px #48b1e5; */
    box-shadow: 0 0 5px #0b2d71;
}

.selected {
  /* background-color: #e6e7e8; */
  background-color: #ccebf7;
}

.button-110 {
    width: 110px;
}

.button-160 {
    width: 160px;
}

.button-35-23 {
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0;
    width: 35px;
    height: 23px;
    margin-left: 10px;
}

button:focus {
    outline: 0;
}
.invoice-table__button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
  line-height: 1.2;
  border-radius: 7px;
}
.invoice-table__button.blue {
  /* background: #0066b2; */
  background: #0b2d71;
}

.mat-tooltip {
  font-size: 13px !important;
  /* background-color: #009dd9; */
  /* background-color: #0b2d71; */
  background-color: #343a3e;
  color: white;
}
/*
custom sort
*/


